<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="tableFormLayout(table, tables)">
    <form class="form" th:object="${table}" method="post" th:action="@{${table.id == null ? '/admin/pooltables' : '/admin/pooltables/' + table.id}}">
        <input type="text" class="inputText" placeholder="название" th:field="*{id}" hidden>
        <input type="text" class="inputText" placeholder="название" th:field="*{name}">
        <input type="text" class="inputText" placeholder="цена" th:field="*{price}">

        <input type="submit" class="inputSubmit" value="Добавить / изменить">
    </form>
</th:block>
</body>
</html>