<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
    <h1>
<!--        LOGIN PAGE-->
    </h1>
<!--    <th:block th:insert="~{layouts/header.html::headerLayout}"></th:block>-->
    <div class="modal">
        <form class="form" method="post" action="/login">
            <input type="text" class="inputText" placeholder="login" name="username">
            <input type="text" class="inputText" placeholder="password" name="password">
            <a th:href="@{/register}">do not have an account yet?</a>
            <input type="submit" class="inputSubmit" value="sing in">
        </form>
    </div>
</div>
</body>
</html>