<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">

    <span class="name"> Брат ты мне или не брат... :)</span>
    <h1>Бильярдный клуб </h1>

<!--            <form method="get" action="/service/generate">-->
<!--                <input type="submit" value="сгенерить базу">-->
<!--            </form>-->
</div>

<th:block th:insert="~{/layouts/header.html::headerLayout}"></th:block>



</body>
</html>